<body class = "padding-for-header">
<div class="container">
  <div class="form-container">
    <mat-card>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>Cuvinte cheie</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Oraș</mat-label>
            <input matInput>
          </mat-form-field>

          <button mat-raised-button style="width: 100%;">Caută job</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="image-container">
    <img src="/assets/homepage_search.jpg" alt="Right side image">
  </div>
</div>
<div class="main-container">
  <div class="category-header">
    <h2>Alege-ți jobul în funcție de industrie</h2>
    <p>{{ nrJoburiDisponibile }} joburi disponibile</p> <!-- Update dynamically if needed -->
  </div>
  <div class="job-category-container">
    <div *ngFor="let category of randomJobCategories" (click)="onCardClick(category.name)" class="category-card">
      <div class="category-title">{{ category.name }}</div>
      <ul>
        <li *ngFor="let job of category.jobs">{{ job }}</li>
      </ul>
    </div>
  </div>
  <div class="category-header">
    <h2>Alege-ți jobul în funcție de oras</h2>
    <p>{{ nrJoburiDisponibile }} joburi disponibile</p> <!-- Update dynamically if needed -->
  </div>
  <div class="job-category-container">
    <div *ngFor="let location of randomJobLocations" (click)="onLocationCardClick(location.name)" class="category-card">
      <div class="category-title">{{ location.name }}</div>
      <ul>
        <li *ngFor="let job of location.jobs">{{ job }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="promoted-jobs-section">
  <!-- Header for the Promoted Jobs Section -->
  <div class="promoted-jobs-header">
    <h2>Anunțuri de angajare promovate</h2>
    <p>Locuri de muncă în {{ nrDepartamente }} de domenii. Descoperă cele mai noi joburi!</p>
  </div>

  <!-- Promoted Jobs Cards Grid -->
  <div class="promoted-jobs-grid">
    <div class="promoted-job-card" *ngFor="let job of randomJobs" [routerLink]="['/job-details',job.id]">
      <div class="promoted-job-date">{{ job.location }}</div>
      <div class="promoted-job-title">{{ job?.company?.company_name }}</div>
      <div class="promoted-job-company">{{ job?.job_title }}</div>
      <div class="promoted-job-company"> {{ job?.job_category}}</div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <p>All rights reserved to Bumba David-Alexandru</p>
</footer>
</body>


