mat-drawer-container {
  margin: 5% auto;
  border: 2px solid #55883B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 10px;
  height: 80vh;

  mat-drawer-content {



    .job-request-tab {
      height: 100%;
      overflow-y: hidden;

      .job-request-list{
        height: 100%;
        overflow-y: auto;
        padding-right: 16px;
      }


      .application-offers {
        margin-bottom: 20px;
        width: 50%;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        background: #ece2b1;
        border: 2px solid #55883B;
      }

      .mat-card-header {
        align-items: center; // Center title and subtitle vertically
      }
      .mat-card-title {
        font-size: 1.2rem; // Larger font size for title
      }
      .mat-card-subtitle {
        font-size: 1rem; // Standard font size for subtitle
        color: black; // Grey color for company and location
      }

    }

    .cv-tab {

      mat-expansion-panel {
        width: 30%;
        border-radius: 5px;
        margin-bottom: 1%;
        border: 2px solid #55883B;
        box-shadow: 8px 8px 1px 0.5px rgba(0, 0, 255, .2);

        mat-panel-title {
          p {
            margin-bottom:0;
            font-size: large;
            font-weight: 500;
          }
        }

        .category-item {
          background-color: #E6F0DC;
          color: black;
          border-radius: 3px;
          border: 2px solid #55883B;
          margin-bottom: 1%;

          display: flex;
          align-items: center;
          padding: 5px;

          .mat-button {
            min-width: 0 !important;
          }

          .icon-group {

            .action-buttons {
              padding: 0;
            }
          }

          p {
            height: 100%;
            flex-grow: 1;
            white-space: nowrap;
            margin-bottom: 0;
            padding-left: 1%;
            font-size: 16px;
            font-weight: 500;
            justify-content: center;
          }
        }

        .add-new-entry {
          margin-top: 1%;
          background-color: #cc6633;
          color: #E6F0DC;
        }
      }
    }
  }
}
