mat-drawer-container {
  margin: 5% auto;
  border: 2px solid #55883B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 10px;
  height: 80vh;
  overflow: hidden;

  mat-drawer-content {
    height: 100%;
    overflow: hidden;

    .job-request-tab {
      height: 100%;
      overflow-y: hidden;

      .job-request-list{
        height: 100%;
        overflow-y: auto;
        padding-right: 16px;
      }


      .application-offers {
        margin-bottom: 20px;
        width: 50%;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        background: #ece2b1;
        border: 2px solid #55883B;
      }

      .mat-card-header {
        align-items: center; // Center title and subtitle vertically
      }
      .mat-card-title {
        font-size: 1.2rem; // Larger font size for title
      }
      .mat-card-subtitle {
        font-size: 1rem; // Standard font size for subtitle
        color: black; // Grey color for company and location
      }

    }

    .cv-tab {

      mat-expansion-panel {
        width: 30%;
        border-radius: 5px;
        margin-bottom: 1%;
        border: 2px solid #55883B;
        box-shadow: 8px 8px 1px 0.5px rgba(0, 0, 255, .2);

        mat-panel-title {
          p {
            margin-bottom:0;
            font-size: large;
            font-weight: 500;
          }
        }

        .category-item {
          background-color: #E6F0DC;
          color: black;
          border-radius: 3px;
          border: 2px solid #55883B;
          margin-bottom: 1%;

          display: flex;
          align-items: center;
          padding: 5px;

          .mat-button {
            min-width: 0 !important;
          }

          .icon-group {

            .action-buttons {
              padding: 0;
            }
          }

          p {
            height: 100%;
            flex-grow: 1;
            white-space: nowrap;
            margin-bottom: 0;
            padding-left: 1%;
            font-size: 16px;
            font-weight: 500;
            justify-content: center;
          }
        }

        .add-new-entry {
          margin-top: 1%;
          background-color: #cc6633;
          color: #E6F0DC;
        }
      }
    }

    mat-grid-list {
      height: 100% !important;
      max-height: 100% !important;

      mat-grid-tile {
        height: 90%;
        overflow: hidden !important;
        padding-top: 0 !important;

        .assistant-intro {
          display: flex;
          flex-direction: column;  // Stack children vertically
          justify-content: space-between;
          align-items: center;// Distribute space between and around content items
          height: 100%;  // Fill the height of the grid tile
          }

        h2 {
          margin-top: 0;  // Remove any default top margin from the h2
          margin-bottom: auto;  // Pushes all extra space to the bottom, keeping the h2 at the top
        }

        button.assistant-buttons {
          margin-top: auto;  // Pushes the button to the middle by using up all space above it
          margin-bottom: 70%;  // Center the button vertically
        }

        .assistant-buttons {
          width: 30%;
          background-color:#9A6735;
          border: none;
          color: white;
        }

        .assistant-tab {
          height: 100%;
          display: flex;
          align-items: center; // This ensures vertical centering.
          justify-content: center; // This ensures horizontal centering.
          overflow: hidden !important; // Ensures no overflow out of this container.

          .pathfinder-img {
            width: 100%; // Makes the image fill the width of its container
            height: 100%; // Keeps the aspect ratio intact
          }
        }

        .assistant-text-choice {
          margin-top: 50%;
          width: 100%;
          display: flex;
          flex-direction: column;  // Stack children vertically
          justify-content: space-between;
          align-items: center;// Distribute space between and around content items

          mat-form-field{
            width: 100%;
            margin-bottom: 3%;
          }
          textarea {
            width: 300px;
            padding-left: 1%;
            overflow-y: auto;
            height: 150px;
            resize: none;
          }
        }

      }

      .recommendation-tab {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
      }
      .recommendations-list {
        height: 100%;
        overflow-y: auto;
        padding-right: 16px;
      }
      .recommendation-card {
        margin-bottom: 20px;
        width: 70%;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        background: #ece2b1;
        border: 2px solid #55883B;
      }
    }
  }
}
