<!-- Header Component -->
<mat-toolbar color="primary">
  <!-- Empty as specified -->
</mat-toolbar>

<div class="account-container">
  <div class="button-column">
    <!-- Group of Top Buttons -->
    <button mat-raised-button (click)="changeTab(tab.PROFILE)" color="primary">Profile</button>
    <button mat-raised-button (click)="changeTab(tab.CV)" color="primary">CV</button>
    <button mat-raised-button (click)="changeTab(tab.JOB_REQUESTS)" color="primary">Job Requests</button>

    <!-- Spacer for pushing bottom buttons down -->
    <div class="spacer"></div>

    <!-- Group of Bottom Buttons -->
    <button mat-raised-button (click)="changeTab(tab.CLOSE_ACCOUNT)" color="warn">Close Account</button>
    <button mat-raised-button (click)="logout()" color="warn">Log-out</button>
  </div>

  <div class="content-column">
    <!-- PROFILE TAB -->
    <form *ngIf="openedTab === tab.PROFILE" class="example-form" [formGroup]="profileForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <table class="example-full-width" ><tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput formControlName="first_name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="last_name">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age">
        </mat-form-field></td>
      </tr></table>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Phone number</mat-label>
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput formControlName="phone_number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date Joined</mat-label>
          <input matInput formControlName="date_joined">
        </mat-form-field>
        <div class="profile-actions-button">
          <button mat-flat-button color="primary" (click)="editProfile()">Edit profile</button>
          <button mat-flat-button color="accent" [disabled]="!hasChanges()" (click)="updateProfile()">Update profile</button>
        </div>
    </form>

    <!-- CV TAB -->
    <form *ngIf="openedTab === tab.CV" class="example-form">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let category of cvCategories">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ category.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let item of category.items">
            {{ item }}
            <button mat-mini-fab color="primary" (click)="editItem(item, category.key)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteItem(item, category.key)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <button mat-button (click)="addItem(category.key)">Add New</button>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <!-- JOB_REQUESTS TAB -->
    <div *ngIf="openedTab === tab.JOB_REQUESTS">
      job requests tab
    </div>
  </div>
</div>
