<!-- Header Component -->
<mat-toolbar color="primary">
  <!-- Empty as specified -->
</mat-toolbar>

<div class="account-container">
  <div class="button-column">
    <!-- Group of Top Buttons -->
    <button mat-raised-button (click)="changeTab(tab.PROFILE)" color="primary">Profile</button>
    <button mat-raised-button (click)="changeTab(tab.CV)" color="primary">CV</button>
    <button mat-raised-button (click)="changeTab(tab.JOB_REQUESTS)" color="primary">Job Requests</button>

    <!-- Spacer for pushing bottom buttons down -->
    <div class="spacer"></div>

    <!-- Group of Bottom Buttons -->
    <button mat-raised-button (click)="changeTab(tab.CLOSE_ACCOUNT) "color="warn">Close Account</button>
    <button mat-raised-button color="warn">Log-out</button>
  </div>

  <div class="content-column">
    <!-- PROFILE TAB -->
    <form *ngIf="openedTab === tab.PROFILE" class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value="Google">
      </mat-form-field>

      <table class="example-full-width" ><tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
      <table class="example-full-width" ><tr>
        <td><mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input matInput placeholder="Ex. San Francisco">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>State</mat-label>
          <input matInput placeholder="Ex. California">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Postal Code</mat-label>
          <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field></td>
      </tr></table>
    </form>

    <!-- CV TAB -->
    <form *ngIf="openedTab === tab.CV" class="example-form">
      <table class="example-full-width" ><tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label>Long Last Name That Will Be Truncated</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
    </form>
    <!-- JOB_REQUESTS TAB -->
    <div *ngIf="openedTab === tab.JOB_REQUESTS">
      job requests tab
    </div>
  </div>
</div>
