.search-jobs-background {

  .search-container {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6F0DC;

    mat-form-field {
      margin-right: 8px;
      width: 40%;
      background: white;
    }

    button {
      height: 50px;
      display: flex;
      align-items: center;
      background: #9A6735;
      color: #E6F0DC;
    }

  }

  .content {
    width: auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    background: #E6F0DC;

    mat-drawer {
      width: 40%;
      background: #E6F0DC;
      position: relative;
      height: auto;
      overflow-y: auto;
      border: none; // Eliminate any borders

      .filters {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Space between each filter card */
        width: 30%;
        margin-left: auto;
        margin-right: 5%;
      }

      .filter-card {
        margin-right: 0;
        padding: 16px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        height: auto;
        max-height: 300px;
        background: #C1E899;
        overflow: hidden;

        mat-checkbox {
          transform: scale(1.15); /* Adjust the scale factor as needed */
          transform-origin: left center;
          margin-left: 10px;
          margin-top: 7px
        }

        mat-checkbox .mat-checkbox-label {
          font-size: 15px; /* Adjust font size as needed */
        }

        .search-input {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          box-sizing: border-box; // Ensures padding does not affect width
        }

        .checkbox-container {
          max-height: 200px; // Adjust based on available space after input
          overflow-y: auto; // Enables scrolling vertically
          overflow-x: hidden; // Prevents horizontal scrolling
          display: flex;
          flex-direction: column;
        }

      }

    }

    .job-listings {
      //flex-grow: 1;
      width: 60%;
      overflow-y: auto;
      margin-left: 0 !important;
      padding-top: 20px;


      .job-card {
        margin-bottom: 20px;
        width: 50%;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        background: #C1E899;
        border: 2px solid #55883B;

        .mat-card-header {
          align-items: center; // Center title and subtitle vertically
        }
        .mat-card-title {
          font-size: 1.2rem; // Larger font size for title
        }
        .mat-card-subtitle {
          font-size: 1rem; // Standard font size for subtitle
          color: black; // Grey color for company and location
        }

        mat-card-actions {
          display: flex;
          justify-content: flex-end; // Align buttons to the right
          button {
            margin-left: 8px;
          }
        }
      }

      .pagination-buttons {
        display: flex;
        justify-content: left;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        button {
          background: #9A6735;
          color: #E6F0DC;
          margin: 0 5px;
        }

        span {
          display: flex;
          align-items: center;
          margin: 0 5px;
        }

        .current-page-button {
          background: #55883B;
          color: #E6F0DC;
          margin: 0 5px;
        }
      }
    }
  }

  .filters {
    padding: 20px;

    .filter-card {
      border: 2px solid #55883B;
    }
  }

  .mat-card {
    margin-bottom: 20px;
  }

  .apply-for-job-button {
    background: #9A6735;
    color: #E6F0DC;
  }
}

