<div class="search-jobs-background padding-for-header">
  <!-- Search Bar -->
  <div class="search-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search for jobs" [(ngModel)]="searchQuery">
    </mat-form-field>
    <button mat-raised-button (click)="searchJobs()">Search</button>
  </div>

  <div class="search-jobs-background-img">
    <mat-drawer-container class="content">
      <mat-drawer mode="side" opened>
        <div class="filters">

          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Active Filters</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-chip-list>
                <ng-container *ngFor="let category of filterCategories">
                  <mat-chip *ngFor="let filter of allFilters[category]" (click)="onFilterChange(filter, false)" removable="true">
                    {{ filter.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </ng-container>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>

          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Job Type</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="salary-checkboxes" *ngFor="let jobType of jobTypes">
                <mat-checkbox
                  [checked]="allFilters[jobType.category] && allFilters[jobType.category].includes(jobType)"
                  (change)="onFilterChange(jobType, $event.checked)">
                  {{ jobType.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Location Filter Card -->
          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Location</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="checkbox-container">
                <input matInput type="text" [(ngModel)]="filterTextCities" placeholder="ex: București" class="search-input">
                <mat-checkbox *ngFor="let city of cities| filterCities: filterTextCities"
                              [checked]="allFilters[city.category] && allFilters[city.category].includes(city)"
                              (change)="onFilterChange(city, $event.checked)">
                  {{ city.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>

          <!-- Department Filter Card -->
          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Department</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="checkbox-container">
                <input matInput type="text" [(ngModel)]="filterTextDepartment" placeholder="ex: Manager" class="search-input">
                <mat-checkbox *ngFor="let department of job_position| filterCities: filterTextDepartment"
                              [checked]="allFilters[department.category] && allFilters[department.category].includes(department)"
                              (change)="onFilterChange(department, $event.checked)">
                  {{ department.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>

          <!--Industry Filter Card-->
          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Industry</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="checkbox-container">
                <input matInput type="text" [(ngModel)]="filtertextIndustry" placeholder="ex: Management" class="search-input">
                <mat-checkbox *ngFor="let industry of job_category| filterCities: filtertextIndustry"
                              [checked]="allFilters[industry.category] && allFilters[industry.category].includes(industry)"
                              (change)="onFilterChange(industry, $event.checked)">
                  {{ industry.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>

          <!--        Study Level-->
          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Study Level</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="salary-checkboxes" *ngFor="let study of study_level">
                <mat-checkbox
                  [color]=""
                  [checked]="allFilters[study.category] && allFilters[study.category].includes(study)"
                  (change)="onFilterChange(study, $event.checked)">
                  {{ study.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>

          <!--        Experience Level-->
          <mat-card class="filter-card">
            <mat-card-header>
              <mat-card-title>Experience Level</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="salary-checkboxes" *ngFor="let experience of experience_level">
                <mat-checkbox
                  [color]=""
                  [checked]="allFilters[experience.category] && allFilters[experience.category].includes(experience)"
                  (change)="onFilterChange(experience, $event.checked)">
                  {{ experience.name }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-drawer>

      <mat-drawer-content class="job-listings">
        <ng-container *ngIf="jobs.length > 0; else noJobsMessage">
          <mat-card *ngFor="let job of jobs" class="job-card" (click)="navigateToJob(job.id)">
            <mat-card-header>
              <mat-card-title>{{ job.job_title }}</mat-card-title>
              <mat-card-subtitle>{{ job.company_name }} - {{ job.job_location }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ job.job_description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button class="apply-for-job-button">Aplică acum</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
        <ng-template #noJobsMessage>
          <mat-card class="job-card">
            <mat-card-header>
              <mat-card-title> No jobs available</mat-card-title>
              <mat-card-subtitle>:(</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Please adjust your filters or try again later.
            </mat-card-content>
          </mat-card>

        </ng-template>
        <div class="pagination-buttons" *ngIf="totalPages > 1">
            <!-- Previous Page Button -->
            <button mat-button *ngIf="currentPage > 2" (click)="goToPage(currentPage - 1)">Pagina precedentă</button>

            <!-- Always show the first page button -->
            <button mat-button (click)="goToPage(1)">1</button>

            <!-- Show ellipsis if there are skipped pages -->
            <span *ngIf="currentPage > 2">...</span>

            <!-- Show the current page button -->
            <button mat-button class="current-page-button" *ngIf="currentPage !== 1" [disabled]="true">{{ currentPage }}</button>

            <!-- Next Page Button -->
            <button mat-button *ngIf="nextPage" (click)="goToPage(currentPage + 1)">Pagina următoare</button>
          </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
