<!-- Header Component -->
<mat-toolbar>
</mat-toolbar>

<div class="search-jobs-background">
  <!-- Search Bar -->
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search for jobs</mat-label>
      <input matInput [(ngModel)]="searchQuery">
    </mat-form-field>
    <button mat-raised-button (click)="searchJobs()">Search</button>
  </div>

  <mat-drawer-container class="content">
    <mat-drawer mode="side" opened>
      <div class="filters">
        <mat-card class="filter-card">
          <mat-card-header>
            <mat-card-title>Salary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Add your salary filter controls here -->
          </mat-card-content>
        </mat-card>

        <!-- Location Filter Card -->
        <mat-card class="filter-card">
          <mat-card-header>
            <mat-card-title>Location</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Add your location filter controls here -->
          </mat-card-content>
        </mat-card>

        <!-- Department Filter Card -->
        <mat-card class="filter-card">
          <mat-card-header>
            <mat-card-title>Department</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Add your department filter controls here -->
          </mat-card-content>
        </mat-card>
      </div>
    </mat-drawer>

    <mat-drawer-content class="job-listings">
      <mat-card *ngFor="let job of jobs" class="job-card">
        <mat-card-header>
          <mat-card-title>{{ job.title }}</mat-card-title>
          <mat-card-subtitle>{{ job.company }} - {{ job.location }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ job.description }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button class="apply-for-job-button">Aplică acum</button>
        </mat-card-actions>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
