<mat-drawer-container>
  <mat-drawer mode="side" opened class="padding-for-header">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ jobOffer?.company?.company_name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ jobOffer?.company?.contact_email}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon>mail</mat-icon> {{ jobOffer?.company?.contact_email}}</p>
        <p><mat-icon>phone</mat-icon>{{ jobOffer?.company?.phone }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Criterii job</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon>attach_money</mat-icon> {{ jobOffer?.salary }}</p>
        <p><mat-icon>place</mat-icon> {{ jobOffer?.location }}</p>
        <p><mat-icon>school</mat-icon> {{ studyLevel }}</p>
        <p><mat-icon>work_outline</mat-icon> {{ experienceLevel }}</p>
        <p><mat-icon>business_center</mat-icon> {{ jobType }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Acțiuni job</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-drawer>


  <mat-drawer-content class="padding-for-header">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{jobOffer?.job_title}}</mat-card-title>
        <mat-card-subtitle>{{jobOffer?.company?.company_name}} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <button mat-raised-button class="apply-job" *ngIf="account_type == 'normal'" (click)="applyForJob()">Apply for Job</button>
        <div class="spacer"></div> <!-- Added div for spacing -->
        <h3>Cerințe</h3>
        <div *ngFor="let requirement of jobOffer?.requirements">
          <p>{{requirement}}</p>
        </div>
        <div class="spacer"></div> <!-- Added div for spacing -->
        <h3>Job Description</h3>
        <p class="text-spacing"> {{jobOffer?.job_description}} </p>
        <div class="spacer"></div> <!-- Added div for spacing -->
        <h3>Company Description</h3>
        <p class="text-spacing">{{jobOffer?.company?.description}} </p>
      </mat-card-content>
    </mat-card>

  </mat-drawer-content>
</mat-drawer-container>
