<div class="job-details-container padding-for-header">
  <div class="side-cards">
    <mat-card class="small-card">Card 1 Content</mat-card>
    <mat-card class="small-card">Card 2 Content</mat-card>
    <mat-card class="small-card">Card 3 Content</mat-card>
  </div>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title> {{jobOffer?.job_position}}</mat-card-title>
      <mat-card-subtitle>{{jobOffer?.company?.company_name}} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <button mat-raised-button color="primary" (click)="applyForJob()">Apply for Job</button>
      <div class="spacer"></div> <!-- Added div for spacing -->
      <h3>Requirements</h3>
      <div *ngFor="let requirement of jobOffer?.requirements">
        <p>{{requirement}}</p>
      </div>
      <div class="spacer"></div> <!-- Added div for spacing -->
      <h3>Job Description</h3>
      <p> {{jobOffer?.job_description}} </p>
      <div class="spacer"></div> <!-- Added div for spacing -->
      <h3>Company Description</h3>
      <p>{{jobOffer?.company?.description}} </p>
    </mat-card-content>
  </mat-card>
</div>
