mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  a {
    font-size: large;
  }

}

.custom-toolbar {
  background-color: #55883B; /* Replace with your RGB color */
  color: #E6F0DC;

  .spacer {
    flex: 1 1 auto;
  }

  .account-actions a {
    margin-right: 8px;
  }

  /* Ensure the links next to the logo align properly */
  a.mat-button {
    margin-right: 16px; /* Adjust spacing between buttons if necessary */
  }

  mat-form-field {
    width: 100%; /* Full width fields */
    margin-bottom: 16px; /* Space between fields and button */
  }

  button {
    margin-top: 20px; /* Space above the button */
  }
}

