<mat-drawer-container class="global-mat-drawer">
  <mat-drawer mode="side" opened>
    <mat-grid-list cols="1" rowHeight="fit">
      <mat-grid-tile>
        <div class="button-group ">
          <button class="top-buttons" mat-raised-button (click)="changeTab(tab.PROFILE)"
                  [ngClass]="{'active': openedTab === tab.PROFILE }">Profile</button>
          <button class="top-buttons" mat-raised-button (click)="changeTab(tab.JOBS_OFFERS)"
                  [ngClass]="{'active': openedTab === tab.JOBS_OFFERS}">My Job Offers</button>
          <button class="top-buttons" mat-raised-button (click)="changeTab(tab.JOB_APPLICATIONS)"
                  [ngClass]="{'active': openedTab === tab.JOB_APPLICATIONS}">Job Requests</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="4"></mat-grid-tile>
      <mat-grid-tile>
        <div class="button-group ">
          <button class="bottom-buttons" mat-raised-button (click)="changeTab(tab.CLOSE_ACCOUNT)" color="warn">Close Account</button>
          <button class="bottom-buttons" mat-raised-button (click)="logout()" color="warn">Log-out</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer>

  <mat-drawer-content>
    <!-- PROFILE TAB -->
    <form *ngIf="openedTab === tab.PROFILE" [formGroup]="companyDetailsForm">
      <div class="profile-tab">
        <h1>Account Details</h1>
        <table><tr>
          <td>
            <h3>Username</h3>
            <mat-form-field  appearance="outline">
              <input matInput formControlName="username">
            </mat-form-field></td>
          <td>
            <h3>Company name</h3>
            <mat-form-field appearance="outline">
              <input matInput formControlName="company_name">
            </mat-form-field></td>
        </tr></table>
        <h1>Contact details</h1>
        <table><tr>
          <td>
            <h3>Email</h3>
            <mat-form-field appearance="outline">
              <input matInput formControlName="email">
            </mat-form-field></td>
          <td>
            <h3>Phone number</h3>
            <mat-form-field appearance="outline">
              <input matInput formControlName="phone">
          </mat-form-field></td>
        </tr></table>

        <h1 class="company-description">Company description</h1>
        <div class="company-description-textarea">
        <mat-form-field>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        </div>
        <h3>Date joined</h3>
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput formControlName="date_joined">
        </mat-form-field>

        <div class="action-buttons">
          <button mat-flat-button class="edit-button" (click)="editProfile()">Edit profile</button>
          <button mat-flat-button class="update-button" [disabled]="!hasChanges()" (click)="updateProfile()">Update profile</button>
        </div>
      </div>
    </form>

    <!-- JOB OFFERS TAB -->
    <div class="job-offers-tab" *ngIf="openedTab === tab.JOBS_OFFERS">
      <div class="job-offers-list">
        <mat-card *ngFor="let jobOffer of jobOffersData" class="job-offer-card">
          <mat-card-header>
            <mat-card-title>{{ jobOffer.job_position }}</mat-card-title>
            <mat-card-subtitle>{{ jobOffer.job_category }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ jobOffer.job_description }}</p>
          </mat-card-content>
          <mat-card-actions class="job-offer-actions">
            <button mat-button (click)="editJobOffer(jobOffer)">Edit Job offer</button>
            <button mat-button [routerLink]="['/job-details',jobOffer.id]">See Job offer page</button>
            <button mat-button (click)="deleteJobOffer(jobOffer)">Delete Job offer</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="create-job-offer-button">
        <button mat-button (click)="createJobOffer()">Create new job offer</button>
      </div>
    </div>

    <!--  JOB APPLICATIONS TAB-->
    <div class="job-offers-tab" *ngIf="openedTab === tab.JOB_APPLICATIONS">
      <div class="job-offers-list">
        <mat-card *ngFor="let application of jobApplications" class="job-offer-card">
          <mat-card-header>
            <mat-card-title> Applicant for {{ application?.job_offer?.job_position }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ application?.applicant?.user?.first_name}} {{ application?.applicant?.user?.last_name}} applied for the {{ application?.job_offer?.job_position }} position</p>
          </mat-card-content>
          <mat-card-actions class="job-offer-actions">
            <button mat-button >See applicant CV</button>
            <button mat-button [routerLink]="['/job-details',application?.job_offer?.id]">See Job offer page</button>
            <button mat-button >Actions</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
