<!-- Header Component -->
<mat-toolbar color="primary">
  <!-- Empty as specified -->
</mat-toolbar>

<div class="account-container">
  <div class="button-column">
    <!-- Group of Top Buttons -->
    <button mat-raised-button (click)="changeTab(tab.PROFILE)" color="primary">Profile</button>
    <button mat-raised-button (click)="changeTab(tab.JOBS_OFFERS)" color="primary">Job Offers</button>
    <button mat-raised-button (click)="changeTab(tab.JOB_OFFER_CREATION)" color="primary">Create Job Offers</button>

    <!-- Spacer for pushing bottom buttons down -->
    <div class="spacer"></div>

    <!-- Group of Bottom Buttons -->
    <button mat-raised-button color="warn">Close Account</button>
    <button mat-raised-button (click)="logout()" color="warn">Log-out</button>
  </div>

  <div class="content-column">
    <!-- PROFILE TAB -->
    <form *ngIf="openedTab === tab.PROFILE" class="example-form" [formGroup]="companyDetailsForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Company name</mat-label>
        <input matInput formControlName="company_name">
      </mat-form-field>

      <table class="example-full-width"><tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field></td>
      </tr></table>

      <mat-form-field class="example-full-width">
        <mat-label>Company description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Date Joined</mat-label>
        <input matInput formControlName="date_joined">
      </mat-form-field>
      <div class="profile-actions-button">
        <button mat-flat-button color="primary" (click)="editProfile()">Edit profile</button>
        <button mat-flat-button color="accent" [disabled]="!hasChanges()" (click)="updateProfile()">Update profile</button>
      </div>
    </form>
    <!-- JOB OFFERS TAB -->
    <div class="job-offers-container" *ngIf="openedTab === tab.JOBS_OFFERS">
      <div class="job-offers-scroll">
        <mat-card *ngFor="let jobOffer of jobOffersData" class="job-offer-card">
          <mat-card-header>
            <mat-card-title>{{ jobOffer.job_position }}</mat-card-title>
            <mat-card-subtitle>{{ jobOffer.job_category }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ jobOffer.job_description }}</p>
          </mat-card-content>
          <mat-card-actions class="job-offer-actions">
            <button mat-button (click)="editJobOffer(jobOffer)">Edit Job-offer</button>
            <button mat-button [routerLink]="['/job-details',jobOffer.id]">See Job offer page</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <button mat-button (click)="createJobOffer()">Create new job offer</button>
      </div>
    </div>
    <!-- JOB_OFFER_CREATION TAB -->
    <div *ngIf="openedTab === tab.JOB_OFFER_CREATION">
      job requests tab
    </div>
  </div>
</div>
