mat-drawer-container {
  margin: 5% auto;
  border: 2px solid #55883B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  border-radius: 10px;
  height: 80vh;

  mat-drawer-content {
    .profile-tab {
      h3 {
        margin-bottom: 0;
        margin-left: 0.16%;
      }

      .company-description{
        margin-bottom: 0.1%;
      }

      textarea {
        width: 98%;
        padding-left: 1%;
        overflow-y: auto;
        height: 150px;
        resize: none;
      }
    }

    .job-offers-tab {
      height: 100%;
      overflow-y: hidden;

      .job-offers-list {
        height: 90%;
        overflow-y: auto;
        padding-right: 16px;

        .job-offer-card {
          margin-bottom: 20px;
          width: 50%;
          box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
          background: #ece2b1;
          border: 2px solid #55883B;
        }

        .mat-card-header {
          align-items: center; // Center title and subtitle vertically
        }
        .mat-card-title {
          font-size: 1.2rem; // Larger font size for title
        }
        .mat-card-subtitle {
          font-size: 1rem; // Standard font size for subtitle
          color: black; // Grey color for company and location
        }
      }

      .create-job-offer-button {
        margin-top: 0.5%;
        button {
          background-color: #9A6735;
          color: white;
        }
      }
    }
  }
}
