h3 {
  margin-bottom: 0;
}

mat-stepper{
  background-color: #ece2b1;
  margin-bottom: 1%;
  border: 2px solid #55883B;
  border-radius: 5px;
  box-shadow: 12px 12px 1px 0.5px rgba(0, 0, 255, .2);

}
mat-card {
  width: 100%;
  background-color: #ece2b1;
  transition: none;
  box-shadow: none !important;

  mat-form-field {
    width: 100%;
    background-color: white;
    border: 2px solid #9A6735;

    textarea {
      padding-left: 1%;
      overflow-y: auto;
      resize: none;
      height: 70px;
    }
  }
}

.requirements {
  background-color: white;
  border: 2px solid #9A6735;
  textarea {
    padding-left: 1%;
    overflow-y: auto;
    resize: none;
    height: 50px;
  }
}

